<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link href="{{url_for('static', filename='css/admin_products.css')}}" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="main-container">
        <div class="left-panel">
            <h3><a class="logo-text" href="{{url_for('home_bp.home')}}"><span class="logo-s-color">S</span>partan</a></h3>
                <div class="products">
                    <a href="{{url_for('admin_products_bp.admin')}}"><i class="fa-brands fa-product-hunt"></i> PRODUCTS</a>
                </div>
                <div class="users">
                    <a href="{{url_for('admin_users_bp.admin_users')}}"><i class="fa-solid fa-users"></i> USERS</a>
                </div>
                <div class="categories">
                    <a href="{{url_for('admin_categories_bp.admin_categories')}}"><i class="fa-solid fa-list"></i> CATEGORIES</a>
                </div>
                <div class="suppliers">
                    <a href="{{url_for('admin_suppliers_bp.admin_suppliers')}}"><i class="fa-solid fa-truck"></i> SUPPLIERS</a>
                </div>
                <div class="orders">
                    <a href="{{url_for('admin_orders_bp.admin_orders')}}"><i class="fa-solid fa-briefcase"></i> ORDERS</a>
                </div>
                <div class="charts">
                    <a href="{{url_for('admin_sales_bp.admin_sales')}}"><i class="fa-solid fa-chart-pie"></i> CHARTS</a>
                </div>
        </div>
        <div class="right-panel">
            <div class="products-panel">
                <p class="products-header">Products Section</p>

                <p class="products-overview-header">Overview</p>
                <div class="products-overview">
                    <div class="product-count">
                        {{total_products}} Products Total
                    </div>

                    <div class="product-new-count">
                        {{new_products}} New Products
                    </div>

                    <div class="product-new-count">
                        {{total_categories}} Categories
                    </div>

                    <div class="product-count">
                        {{total_suppliers}} Suppliers
                    </div>
                </div>
                <div class="actions-section">
                    <a href="#addModal" class="add-product-button">Add New Product</a>

                    <form class="search-section" action="{{ url_for('admin_products_bp.admin_product_search') }}" method="post">
                        <input placeholder="Search for a product name.." name="q" class="product-search">
                        <button class="product-search-button" type="submit">Search</button>
                        <button class="product-reset-button">Reset</button>
                    </form>
                </div>

                <div class="products-container">
                    {% for product in products %}
                    <div class="product-card">
                        <img class="product-img" src="{{product.img_url}}" alt="{{ product.name }}">
                        <p class="product-name">{{ product.name }}</p>
                        <p class="product-price">Price: €{{ product.price }}</p>

                        {% for category in categories %}
                            {% if category.id == product.category_id %}
                                <p class="product-category">Category: {{ category.name }}</p>
                            {% endif %}
                        {% endfor %}
 
                        {% for supplier in suppliers %}
                            {% if supplier.supplier_id == product.supplier_id %}
                                <p class="product-supplier">Supplier: {{ supplier.supplier_name }}</p>
                            {% endif %}
                        {% endfor %}

                        <p class="product-new">New: {{product.new}}</p>

                        <div class="action-buttons">
                            <!-- Link to open modal -->
                            <a href="#editModal{{ product.id }}" class="edit-button" data-target="#editModal{{ product.id }}">Edit</a>
                            <a href="#deleteModal{{ product.id }}" class="delete-button" data-target="#deleteModal{{ product.id }}">Delete</a>
                        </div>

                        <!-- Edit Modal -->
                        <div class="modal" id="editModal{{ product.id }}">
                            <div class="modal-content">
                                <form action="{{url_for('admin_products_bp.update_product', product_id=product.id)}}" role="form" method="post" enctype="multipart/form-data">
                                    <div class="modal-items">
                                        <a href="#" class="close">&times;</a>
                                        <p class="modal-header">Edit Product</p>
                                            <label for="product_name" class="product_name_label">Product Name</label>
                                            <input type="text" class="product_name" id="product_name" name="product_name" value="{{ product.name }}" placeholder="Enter product name.."></input>
                    
                                            <label for="product_price" class="product_price_label">Product Price</label>
                                            <input type="number" class="product_price" id="product_price" name="product_price" value="{{ product.price }}" placeholder="Enter product price.." step="1"></input>
                                            
                                            <label for="product_image" class="product_image_label">Product Image</label>
                                            <input type="file" class="product_image" id="product_image" name="product_image" accept="image/*"></input>
                    
                                            <label for="product_new" class="product_new_label">Product New</label>
                                            <select class="product_new" id="product_new" name="product_new">
                                                <option value="">Select New</option>
                                                    {% if product.new == False %}
                                                        <option value="False" selected>False</option>
                                                        <option value="True">True</option>
                                                                
                                                    {% else %}
                                                        <option value="False">False</option>
                                                        <option value="True" selected>True</option>
                                                    {% endif %}
                                            </select>
                    
                                            <label for="product_category" class="product_category_label">Product Category</label>
                                            <select class="product_category" id="product_category" name="product_category">
                                                <option value="">Select Category</option>
                                                    {% for category in categories %}
                                                        {% if category.id == product.category_id %}
                                                            <option value="{{ category.name }}" selected>{{ category.name }}</option>
                                                        {% else %}
                                                            <option value="{{ category.name }}">{{ category.name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                            </select>
                    
                                            <label for="product_supplier" class="product_supplier_label">Product Supplier</label>
                                            <select class="product_supplier" id="product_supplier" name="product_supplier">
                                                <option value="">Select Supplier</option>
                                                {% for supplier in suppliers %}
                                                    {% if supplier.supplier_id == product.supplier_id %}
                                                        <option value="{{ supplier.supplier_name }}" selected>{{ supplier.supplier_name }}</option>
                                                    {% else %}
                                                        <option value="{{ supplier.supplier_name }}">{{ supplier.supplier_name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                            
                                            <button type="submit" class="product-add-button">Update Product</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- Delete Modal -->
                        <div class="modal" id="deleteModal{{ product.id }}">
                            <div class="modal-content delete-modal-content">
                                <div class="modal-items">
                                    <a href="#" class="close">&times;</a>
                                    <p class="modal-header">Delete Product</p>
                                    <p>Are you sure you want to delete the product <strong>{{ product.name }}</strong>?</p>
                                    <form action="{{url_for('admin_products_bp.delete_product', product_id=product.id)}}">
                                        <button type="submit" class="delete-modal-button">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Add Modal -->
        <div class="modal" id="addModal">
            <div class="modal-content">
                <form action="{{url_for('admin_products_bp.add_product')}}" role="form" method="post" enctype="multipart/form-data">
                    <div class="modal-items">
                        <a href="#" class="close">&times;</a>
                        <p class="modal-header">Add New Product</p>
                        <label for="product_name" class="product_name_label">Product Name</label>
                        <input type="text" class="product_name" id="product_name" name="product_name" placeholder="Enter product name.." required></input>
                        
                        <label for="product_price" class="product_price_label">Product Price</label>
                        <input type="number" class="product_price" id="product_price" name="product_price" placeholder="Enter product price.." step="1" required></input>
                        
                        <label for="product_image" class="product_image_label">Product Image</label>
                        <input type="file" class="product_image" id="product_image" name="product_image" accept="image/*" required></input>

                        <label for="product_new" class="product_new_label">Product New</label>
                        <select class="product_new" id="product_new" name="product_new">
                            <option value="">Select New</option>
                            <option value="False">False</option>
                            <option value="True">True</option>
                        </select>

                        <label for="product_category" class="product_category_label">Product Category</label>
                        <select class="product_category" id="product_category" name="product_category">
                            <option value="">Select Category</option>
                                {% for category in categories %}
                                    <option value="{{ category.name }}">{{ category.name }}</option>
                                {% endfor %}
                        </select>

                        <label for="product_supplier" class="product_supplier_label">Product Supplier</label>
                        <select class="product_supplier" id="product_supplier" name="product_supplier">
                            <option value="">Select Supplier</option>
                                {% for supplier in suppliers %}
                                    <option value="{{ supplier.supplier_name }}">{{ supplier.supplier_name }}</option>
                                {% endfor %}
                        </select>

                        <label for="product_stock" class="product_stock_label">Product Stock</label>
                        <input type="number" class="product_stock" id="product_stock" name="product_stock" placeholder="Enter stock.." step="1" required></input>

                        <label for="product_description" class="product_description_label">Product Description</label>
                        <input type="text" class="product_description" id="product_description" name="product_description" placeholder="Enter description.." required></input>

                        <label for="product_flavour" class="product_flavour_label">Product Flavours</label>
                        <input type="text" class="product_flavour" id="product_flavour" name="product_flavour" placeholder="Enter flavours separated by commas" required></input>
                        
                        <button type="submit" class="product-add-button">Add Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/admin_products.js') }}"></script>
</body>
</html>
